<%= render 'layouts/user_header' %>
<h2>Posts</h2>
<ul>
  <li>
    <% @posts.each do |post| %>
    <a href="posts/<%= post.id %>">
      <h3><%= post.title %></h3>
    </a>
    <p>
      <%= post.text %>
    </p>
    <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
    <h3>Comments</h3>
    <ul>
      <% post.most_recent_comments.each do |comment| %>
        <li>
          <%= comment.user.name %>: <%= comment.text %>
        </li>
      <% end %>
    </ul>
    <% end %>
  </li>
</ul>
<%= render 'posts_form' %>