<h1><%= @user.name %>'s Posts</h1>
<p>Number of posts: <%= @user.posts_counter %></p>
<h2>Posts</h2>
<ul>
  <li>
    <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p>
      <%= post.text %>
    </p>
    <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
    <h3>Comments</h3>
    <ul>
      <% post.most_recent_comments.each do |comment| %>
        <li>
          <%= User.find(comment.author_id).name %>: <%= comment.text %>
        </li>
      <% end %>
    </ul>
    <% end %>
  </li>
</ul>
