<h1><%= @post.title %> by <%= @user.name %></h1>
<p>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter%></p>
<p>
  <%= @post.text %>
</p>
<h2>Comments</h2>
<ul>
  <% @comments.each do |comment| %>
    <li>
      <%= comment.find_author %>: <%= comment.text %>
    </li>
  <% end %>
</ul>
