<!DOCTYPE html>
<html>
  <head>
    <title>Blog App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to The Blog App!</h1>
    <%= notice %>
    <%= alert %>
    <%= yield %>
    <% if user_signed_in? %>
			<%= button_to t('sign_out'), destroy_user_session_path, method: :delete %>
		<% end %>
    <footer>Thanks for using The Blog App!</footer>
  </body>
</html>
